<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TABLE PRACTICE</title>
    <style>
        .container{
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.7);
        }
        .border{
            border-collapse: collapse;
            border: 1px solid #333;
        }
        th, td{
            width: 40px;
            height: 40px;
            text-align: center;
        }
        th{
            background-color: rgb(145, 155, 228);
        }
        td{
            background-color: #f5f5e8;
        }
    </style>
</head>
<body>
    <div class="container">
            <h1>su-doku talbe</h1>
            <table style="margin:1em" class="border" border="1">
                <script>
                    const talbe = [['2', '0', '1', '3', '7', '6', '9', '4', '8'], ['0', '8', '7', '0', '0', '9', '3', '2', '5'], ['3', '9', '4', '0', '0', '2', '1', '7', '6'], ['8', '2', '3', '9', '1', '0', '5', '0', '7'], ['7', '4', '6', '0', '3', '0', '0', '1', '9'], ['0', '1', '9', '6', '2', '7', '4', '8', '3'], ['0', '7', '5', '4', '6', '3', '8', '9', '2'], ['0', '6', '8', '0', '5', '1', '7', '3', '4'], ['0', '0', '2', '7', '9', '8', '6', '5', '1']];
                    document.write('<tr>');
    
                    for(let j=0; j <= 8; j++){
                        // document.write('<th>'+ j +'y</th>');
                        for(let k=0; k<=8; k++){
                            if (talbe[j][k] !== '0'){
                                document.write('<td><font color="blue">'+ talbe[j][k] +'</fonr></td>');
                            } else {
                                document.write('<td id='+j+k+' onclick="changeNum(this)" onmouseover="changeColor(this)" onMouseOut="revertColor(this)"> </td>');
                            }
                        }
                        // ここでjの行を閉じる
                        document.write('</tr>')
                    };

                    function changeNum(ele) {
                        let thisId = ele.id;
                        elem = document.getElementById(thisId);
                        // deleteにはnullを当ててある
                        if (selectedNum) {
                            elem.textContent = selectedNum;
                        } else {
                            elem.textContent = '';
                        }
                    }

                    function changeColor(ele) {
                        let thisId = ele.id;
                        elem = document.getElementById(thisId);
                        elem.style.backgroundColor = 'rgba(43, 117, 213, 0.626)';
                    };
                    function revertColor(ele) {
                        let thisId = ele.id;
                        elem = document.getElementById(thisId);
                        elem.style.backgroundColor = "rgb(245, 245, 232)";
                    };
                </script>
            </table>
        </div>
        <div>
            <h3>The number you selected</h3>
            <table>
                <script>
                    let selectedNum = null;
                    for(let j=0; j <= 8; j++) {
                        document.write('<td id='+j+' onclick="selectNum(this)">'+ (j+1) +'</td>');
                    }
                    document.write('<td id="9" onclick="selectNum(this)">del</td>');

                    // このidは数字より1小さい
                    function selectNum(ele) {
                        let thisId = ele.id;
                        // console.log(typeof thisId);

                        for(let k=0; k<=9; k++){
                            let elem = document.getElementById(k);
                            
                            if (k === Number(thisId)){
                                elem.style.backgroundColor = "rgb(145, 155, 228)";
                                selectedNum = String(Number(thisId) + 1);
                            } else {
                                elem.style.backgroundColor = "rgb(245, 245, 232)";
                            }
                        }
                        if (thisId === '9') {
                            selectedNum = null;
                        }
                    }
                </script>
            </table>
        </div>
        <br><br>
        TODO
        <li>Clear all button</li>
        <li>Create random problem?</li>
</body>
</html>
