body {
    color: #53514C;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border: 1px solid #333;
    z-index: 3;
}
header .logo {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 200px;
}
.logo {
    display: inline-block;
}
.logo img {
    width: 100%;
}

header nav {
    display: block;
    position: absolute;
    top: 21px;
    right: 0;
}
header nav ul {
    padding-right: 20px;
}
header nav ul li {
    display: inline-block;
    height: 35px;
    border-radius: 2px;
    font-size: 17px;
    line-height: 35px;
}
header nav ul li:hover {
    background: #B99565;
}
header nav ul li:hover a {
    color: #fff;
}
header nav ul li a {
    display: block;
    padding: 0 20px;
    color: #9c9b98;
    text-decoration: none;
    text-align: center;
}



#key_visual {
    margin: 80px auto 0;
    width: 100%;
}
#key_visual img {
    width: 100%;
    vertical-align: bottom;
}




.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;   /* float でフッターが回り込むのを防ぐ（要素の高さを出す） */
    font-size: 14px;
    line-height: 2em;
}

#main {
    width: 73%;
    float: right;
    padding-bottom: 55px;
    background: #fff;
}
#main p {
    padding: 0 15px;
}
#main h2 {
    position: relative;
    height: 38px;
    margin: 15px 0;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-color: #000;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
}
#main h2::before {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #fff;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
/* #main h2::after {
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #000;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(100%, -50%);
} */
#main h3 {
    height: 38px;
    padding: 0 15px;
    border: 1px solid #ccc;
    margin: 15px 0;
    background: linear-gradient(#fff, #ebebeb);
    font-size: 15px;
    color: #333;
    line-height: 38px;
}
#main h4 {
    padding: 0 15px;
    font-weight: bold;
    margin-top: 15px;
}
#main a {
    color: #333;
}

#main ul {
    padding-left: 25px;
}

.news {
    height: 150px;
    padding-left: 15px;
    overflow-y: scroll;
}
.news dt {
    display: inline-block;
    width: 14%;
    min-width: 100px;
    border-bottom: 1px solid #ccc;
}
.news dd {
    display: inline-block;
    width: 86%;
    border-bottom: 1px solid #ccc;
}
.news .new {
    background: #ED462F;
    color: #fff;
    padding: 0 4px;
    border-radius: 2px;
    font-size: 9px;
}

#sidebar {
    width: 23%;
    background: #fff;
    float: left;
    /* transition: all 0.3s ease 0s; */
}
#sidebar ul {
    list-style: none;
}
#sidebar ul li {
    height: 32px;
    background: #fff;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}
#sidebar ul li:last-child {
    border: none;
}
#sidebar ul li a {
    display: block;
    padding-left: 12px;
    color: #333;
    text-decoration: none;
    transition: 0.7s;
}
#sidebar ul li a:hover {
    background-color: #000;
    color: #fff;
}
#sidebar h2 {
    padding-left: 10px;
    border-left: 3px solid #000;
    margin-bottom: 18px;
    line-height: 1em;
}

/* ある地点以下でスクロールしてもTOP固定にする（ための準備） */
#sidebar.sticky{
    position: fixed;
    top: 80px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0);
}

footer {
    /* background: #000; */
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
}

.box {
    margin: 15px 0;
}
.bg-gray {
    padding: 20px 15px;
    border: 1px solid #ccc;
    background: #e4e4e4;
}




footer .logo {
    width: 160px;
    margin: 15px 0 10px;
}
footer p small {
    height: 30px;
    font-size: 10px;
    line-height: 30px;
}






.news_detail {
    /* height: 150px; */
    padding-left: 15px;
    /* overflow-y: scroll; */
}
.news_detail dt {
    display: inline-block;
    width: 14%;
    min-width: 100px;
    border-bottom: 1px solid #ccc;
}
.news_detail dd {
    display: inline-block;
    width: 86%;
    border-bottom: 1px solid #ccc;
}
.news_detail .new {
    background: #ED462F;
    color: #fff;
    padding: 0 4px;
    border-radius: 2px;
    font-size: 9px;
}