{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <h1 class="logo"><a href="/"><img src="{% static 'fig/main/logo.png' %}" alt="kokoichi logo"></a></h1>

        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/quiz">Quiz</a></li>
            </ul>
        </nav>
    </header>

    <div id="key_visual">
        <img src="{% static 'fig/main/change.png' %}" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">
            <section>
                <h2>お世話になったリンク</h2>
                <p>このサイトを作る際、またそれ以外の学習においてお世話になったサイトを書かせていただきます。<br>
                備忘録的に列挙します。</p>
                
                <h3>Python</h3>


                <h3>JavaScript</h3>

                <h3>Chrome拡張機能</h3>
                サイトではありませんが、（個人的に）便利だと感じるChromeの拡張機能
                <h4>■ Vimium</h4>
                <p>これがあるとChrome上でマウスカーソルを動かす必要がありません。
                    デメリットは、寿司打をやるときにシークレットモードで開かないといけないことです。</p>
                    
                <h4>■ Google検索キーボードショートカット</h4>
                <p>入れない理由がありません。</p>

                <h4>■ Language Learning with Netflix</h4>
                <p>日本語と英語の同時字幕で視聴が可能です。</p>

                <h4>■ Youtubeの広告ブロッカー</h4>
                <p>この拡張機能があるためにiphoneやiPadでyoutube観ることがなくなりました</p>

                <h4>■ Image downloader</h4>
                <p>同一ページ内の全ての画像を一括で保存してくれます。</p>

                <h4>■ Full Page Screen Capture</h4>
                <p>ページ全体のスクショがワンクリックで撮れます。</p>

                <h4>■ FColorZilla</h4>
                <p>カーソルがあったところの色を拾ってくれます。模写コーディングで威力を発揮します。</p>

                <h3>その他</h3>
                <h4><a href="https://shell-mag.com/portal-linuxserver/">UbuntuではじめるLinuxサーバー</a></h4>
                <p>非常に丁寧に書いてくれているので、指示に従っていくだけでサーバーが立ちます。
                    少しだけネットワーク周りに強くなった気になります。</p>

                <h3>当サイトに関して</h3>
                <p>GitHubにこのサイトの<a href="https://github.com/kokoichi206/django-website-test">Source</a>は公開しています。気になることや要望はどんどん連絡お願いいたします。</p>
            </section>


        </div><!-- /#main -->
        

        <div id="sidebar">

            <div class="box bg-gray">
                <h2>SUB MENU</h2>
                <ul>
                    <li><a href="/">サイト紹介</a></li>
                    <li><a href="main/FAQ">よく頂く質問</a></li>
                    <li><a href="main/link">リンク集</a></li>
                    <li><a href="main/study">勉強まとめ</a></li>
                    <li><a href="main/game">ゲーム一覧</a></li>
                    <li><a href="login">裏サイト</a></li>
                </ul>
            </div>

            <div class="box bg-gray">
                <h2>旧サイト<br>2021/04/17以前</h2>
                <ul>
                    <li><a href="old/old">HOME</a></li>
                </ul>
            </div>

        </div><!-- /#sidebar -->
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="{% static 'fig/main/logo.png' %}" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>
</body>
</html>