{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
    {% include '_navbar.html' %}

    <div id="key_visual">
        <img src="{% static 'fig/main/change.png' %}" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">


            <section>

                <h2>まとめ</h2>
                <p>勉強してきたことをまとめたもの、もしくは今興味があることについて</p>
                
                <h3>Python</h3>
                <h4>Reversi</h4>
                <p>オセロの実装を通して、GUIやDQNなど色々と学んだ（[Source Code](https://github.com/kokoichi206/reversi）</p>
                <h4>その他のPython関係をまとめたリポジトリ</h4>
                <p>GitHubは<a href="https://github.com/kokoichi206/python_practice">こちら</a></p>


                <h3>Web 周り</h3>
                <li>
                    <a href="web_practice/hotspot/index">Image Hotspot</a> using HTML, CSS, JavaScript
                </li>
                <li>
                    <a href="web_practice/clock/index">Analog Clock</a>
                </li>
                <li>
                    <a href="web_practice/joke/index">Random Joke (English)</a>
                </li>
                <li>
                    <a href="https://nextjs-vercel-mocha.vercel.app/">Next.js × Vercel</a>
                    作っただけ
                    <a href="https://github.com/kokoichi206/nextjs-vercel">GitHub</a>
                </li>


                <h3>Hoge</h3>
                <h4>■ シェル芸</h4>
                <p><a href="https://www.youtube.com/channel/UCNnuBjHrb2UYBUi0I5otmjQ">シェル芸のyoutube</a> をみてワンライナーの勉強をしています。<br>
                好きなコマンドは<br>
                <code>
                    $ head /dev/urandom | tr -dc a-zA-Z0-9 | head -n （桁数）<br>
                </code>
                です。これで任意の桁数のランダムの英数字が生成できます。</p>
                <p><a href="https://github.com/kokoichi206/my-scripts">シェルまとめ</a></p>


                <h3>その他</h3>
                <ul>
                    <li>
                        <a href="https://github.com/kokoichi206/example">Gitの例</a>    
                    </li>
                    <li>
                        <a href="https://github.com/kokoichi206/search-save">Chrome拡張機能を作ろうとした</a>
                    </li>
                    <li></li>
                </ul>


            </section>

            <section>
                <h2>当サイトに関する（細かい）改善</h2>
                <p>a</p>


                <div class="news_detail">
                    <dl>
                        <dt><time>2021/04/20</time></dt><!--
                    --><dd>スクロールした時にヘッダーとサイドバーを固定<span class="new">NEW</span></dd>
                        <dt>2021/04/18</dt><!--
                    --><dd>html,cssを中心に更新。旧ファイルが必要な場合はお問い合わせ下さい。</dd>
                        <dt><time>2021/02/04</time></dt><!--
                    --><dd>ホームページ公開</dd>
                    </dl>
                </div>
            </section>


        </div><!-- /#main -->
        
        {% include '_sidebar.html' %}
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="{% static 'fig/main/logo.png' %}" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/main/main.js' %}"></script>
</body>
</html>