<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../doctor.css">
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="#"><img src="../logo.png" alt="kokoichi logo"></a></h1>

        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/quiz">Quiz</a></li>
            </ul>
        </nav>
    </header>

    <div id="key_visual">
        <img src="../change.png" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">
            <section>
                <h2>勉強してきたことまとめ</h2>
                <p>勉強してきたことをまとめたもの、もしくは今興味があることについて</p>
                
                <h3>Python</h3>


                <h3>JavaScript</h3>


                <h3>Hoge</h3>
                <h4>■ シェル芸</h4>
                <p><a href="https://www.youtube.com/channel/UCNnuBjHrb2UYBUi0I5otmjQ">シェル芸のyoutube</a> をみてワンライナーの勉強をしています。<br>
                好きなコマンドは<br>
                <code>
                    $ head /dev/urandom | tr -dc a-zA-Z0-9 | head -n （桁数）<br>
                </code>
                です。これで任意の桁数のランダムの英数字が生成できます。</p>
                    
                <h4>■ aa</h4>
                <p>a</p>



                <h3>その他</h3>


                <h3>当サイトに関して</h3>
                <p>GitHubにこのサイトの<a href="https://github.com/kokoichi206/django-website-test">Source</a>は公開しています。気になることや要望はどんどん連絡お願いいたします。</p>
            </section>


        </div><!-- /#main -->
        

        <div id="sidebar">

            <div class="box bg-gray">
                <h2>SUB MENU</h2>
                <ul>
                    <li><a href="/">サイト紹介</a></li>
                    <li><a href="sub/FAQ.html">よく頂く質問</a></li>
                    <li><a href="sub/link.html">リンク集</a></li>
                    <li><a href="#">勉強まとめ</a></li>
                    <li><a href="sub/game.html">ゲーム一覧</a></li>
                    <li><a href="login">裏サイト</a></li>
                </ul>
            </div>

            <div class="box bg-gray">
                <h2>旧サイト<br>2021/04/17以前</h2>
                <ul>
                    <li><a href="old/old">HOME</a></li>
                </ul>
            </div>

        </div><!-- /#sidebar -->
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="../logo.png" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>
</body>
</html>