{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <h1 class="logo"><a href="/"><img src="{% static 'fig/main/logo.png' %}" alt="kokoichi logo"></a></h1>

        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/quiz">Quiz</a></li>
            </ul>
        </nav>
    </header>

    <div id="key_visual">
        <img src="{% static 'fig/main/change.png' %}" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">


            <section>

                <h2>まとめ</h2>
                <p>勉強してきたことをまとめたもの、もしくは今興味があることについて</p>
                
                <h3>Python</h3>


                <h3>Web 周り</h3>
                <li>
                    <a href="web_practice/hotspot/index">Image Hotspot</a> using HTML, CSS, JavaScript
                </li>
                <li>
                    <a href="web_practice/clock/index">Analog Clock</a>
                </li>
                <li>
                    <a href="web_practice/joke/index">Random Joke (English)</a>
                </li>


                <h3>Hoge</h3>
                <h4>■ シェル芸</h4>
                <p><a href="https://www.youtube.com/channel/UCNnuBjHrb2UYBUi0I5otmjQ">シェル芸のyoutube</a> をみてワンライナーの勉強をしています。<br>
                好きなコマンドは<br>
                <code>
                    $ head /dev/urandom | tr -dc a-zA-Z0-9 | head -n （桁数）<br>
                </code>
                です。これで任意の桁数のランダムの英数字が生成できます。</p>
                    
                <h4>■ aa</h4>
                <p>a</p>



                <h3>その他</h3>


            </section>

            <section>
                <h2>当サイトに関する（細かい）改善</h2>
                <p>a</p>


                <div class="news_detail">
                    <dl>
                        <dt><time>2021/04/20</time></dt><!--
                    --><dd>スクロールした時にヘッダーとサイドバーを固定<span class="new">NEW</span></dd>
                        <dt>2021/04/18</dt><!--
                    --><dd>html,cssを中心に更新。旧ファイルが必要な場合はお問い合わせ下さい。</dd>
                        <dt><time>2021/02/04</time></dt><!--
                    --><dd>ホームページ公開</dd>
                    </dl>
                </div>
            </section>


        </div><!-- /#main -->
        

        <div id="sidebar">
            <div class="box bg-gray">
                <h2>SUB MENU</h2>
                <ul>
                    <li><a href="/">サイト紹介</a></li>
                    <li><a href="main/FAQ">よく頂く質問</a></li>
                    <li><a href="main/link">リンク集</a></li>
                    <li><a href="main/study">勉強まとめ</a></li>
                    <li><a href="main/game">ゲーム一覧</a></li>
                    <li><a href="login">裏サイト</a></li>
                </ul>
            </div>

            <div class="box bg-gray">
                <h2>旧サイト<br>2021/04/17以前</h2>
                <ul>
                    <li><a href="old/old">HOME</a></li>
                </ul>
            </div>
        </div><!-- /#sidebar -->
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="{% static 'fig/main/logo.png' %}" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/main/main.js' %}"></script>
</body>
</html>