{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mario</title>
</head>
<body>

    <canvas id="can"></canvas>
    <script src="{% static 'js/mario/const.js' %}"></script>
    <script src="{% static 'js/mario/enemy.js' %}"></script>
    <script src="{% static 'js/mario/item.js' %}"></script>
    <script src="{% static 'js/mario/block.js' %}"></script>
    <script src="{% static 'js/mario/map.js' %}"></script>
    <script src="{% static 'js/mario/ojisan.js' %}"></script>
    <!-- <script src="{% static 'js/mario/main.js' %}"></script> -->
    

    <!-- chImg.src = "{% static 'mario/sprite.png' %}"; -->

    <script>



// 裏画面、仮想画面
let vcan = document.createElement("canvas")
let vcon = vcan.getContext("2d");

// 実画面
let can = document.getElementById("can");
let con = can.getContext("2d");

vcan.width = SCREEN_SIZE_W;
vcan.height = SCREEN_SIZE_H;

can.width = SCREEN_SIZE_W*3;
can.height = SCREEN_SIZE_H*3;

// 拡大してもきれいにくっきり表示させる。
con.mozimageSmoothingEnabled    = false;
con.msimageSmoothingEnabled     = false;
con.webkitimageSmoothingEnabled = false;
con.imageSmoothingEnabled       = false;


let frameCount = 0;
let startTime;

let gotCoins = 0;

let isAlive = true;
let didGoal = false;


// character image
let chImg = new Image();
// 注意、読み込む前に次の命令を実行してしまう
chImg.src = "{% static 'mario/sprite.png' %}";
// chImg.onload = draw;

let ojisan;
let field;
let block;
let item;
let enemy;

function init(){
    isAlive = true;
    frameCount = 0;
    gotCoins = 0;

    // おじさんを作る
    ojisan = new Ojisan(100, 100);

    // フィールドを作る
    field = new Field();

    // ブロックのオブジェクト
    block = [];
    item = [];
    enemy = [];
}

init();
// // おじさんを作る
// let ojisan = new Ojisan(100, 100);

// // フィールドを作る
// let field = new Field();

// // ブロックのオブジェクト
// let block = [];
// let item = [];
// let enemy = [];

function updateObj(obj){
    // スプライトのブロックを更新、逆回しにしとくと途中で消えても問題なさそう？
    for ( let i=obj.length-1; i>=0; i--){
        obj[i].update();
        if ( obj[i].kill ) obj.splice(i,1);
    }
}


function fireCheckHit( obj1, obj2 ){
    // 判定を緩くしないと、キノコを押した瞬間に当たり判定になってしまう
    // 物体１
    let left1   = (obj1.x>>4)       + 2;
    let right1  = left1 + obj1.w    - 4;
    let top1    = (obj1.y>>4)       + 5 + obj1.ay;
    let bottom1 = top1 + obj1.h     - 7;

    // 物体２
    let left2   = (obj2.x>>4)       + 2;
    let right2  = left2 + obj2.w    - 4;
    let top2    = (obj2.y>>4)       + 5 + obj2.ay;
    let bottom2 = top2 + obj2.h     - 7;

    return (
        left1 <= right2 &&
        right1 >= left2 &&
        top1 <= bottom2 &&
        bottom1 >= top2);
}

// SPARKS と敵が触れてないかチェック
// 触れていたら SPARKS は消して、敵はdieフラグを立てて
// ぴこぴこして死なせる（enemyのupdate関数）
function checkDeadEnemy(){
    for ( let i=0; i<item.length; i++){
        if ( item[i].tp == SPARKS ){
            for ( let j=enemy.length-1; j>=0; j--){
                if ( fireCheckHit(item[i], enemy[j]) ){
                    // enemy[j].kill = true;
                    enemy[j].die = true;
                    item[i].kill = true;
                }
            }       
        }
    }
}

// 更新処理
function update(){
    // マップの更新
    field.update();

    checkDeadEnemy();

    updateObj(block);
    updateObj(item);
    updateObj(enemy);

    // おじさんの更新
    ojisan.update();
}

// スプライトの描画
function drawSprite(snum, x, y){
    let sx = (snum&15) * 16;
    let sy = (snum>>4) * 16;
    vcon.drawImage(chImg, sx,sy,16,32, x,y,16,32);
}

function drawObj(obj){
    // スプライトのブロックを表示
    for ( let i=0; i<obj.length; i++){
        obj[i].draw();
    }
}

function drawInfo(){
    // デバック情報を表示
    let font_size = 12;
    let base_x = 5;
    let base_y = 12;

    let water_effect = WATER_RESISTENCE ** ojisan.isInWater;
    
    vcon.font = "12px 'Arial'";
    vcon.fillStyle = "white";
    vcon.fillText("FRAME: "+frameCount, base_x, base_y);
    vcon.fillText("field.scx: "+field.scx, base_x, base_y+font_size);
    vcon.fillText("field.scy: "+field.scy, base_x, base_y+2*font_size);
    vcon.fillText("ojisan.x: "+ojisan.x, base_x, base_y+3*font_size);
    vcon.fillText("ojisan.y: "+ojisan.y, base_x, base_y+4*font_size);
    vcon.fillText("ojisan.vx: "+ojisan.vx/water_effect, base_x, base_y+5*font_size);
    vcon.fillText("ojisan.vy: "+ojisan.vy/water_effect, base_x, base_y+6*font_size);

    // 獲得コインの情報を表示
    vcon.font = "20px 'Impact'";
    vcon.fillStyle = "white";
    // vcon.fillText("COINS: "+gotCoins, 175, 20);
    vcon.fillText(gotCoins, 230, 20);

    // 左上にコインを表示
    vcon.drawImage(chImg, 0,384,16,16, 210,4,16,16);
}

function draw(){
    // 画面を水色でクリア
    vcon.fillStyle = "#66AAFF";
    vcon.fillRect(0, 0, SCREEN_SIZE_W, SCREEN_SIZE_H);

    // マップを表示
    field.draw();


    drawObj(block);
    drawObj(item);
    drawObj(enemy);

    // おじさんを表示,少数があると隣のピクセルとかが出てしまってた
    ojisan.draw();
    
    drawInfo();

    // 仮想画面から実画面へ拡大転送
    con.drawImage(vcan,0,0,SCREEN_SIZE_W,SCREEN_SIZE_H,
        0,0,SCREEN_SIZE_W*3,SCREEN_SIZE_H*3)
}

function drawDead(){

    // 画面を水色でクリア
    vcon.fillStyle = "#66AAFF";
    vcon.fillRect(0, 0, SCREEN_SIZE_W, SCREEN_SIZE_H);

    // マップを表示
    field.draw();

    drawObj(block);
    drawObj(item);
    drawObj(enemy);

    // おじさんを表示,少数があると隣のピクセルとかが出てしまってた
    ojisan.draw();
    
    drawInfo();

    // Dead画面を表示
    vcon.font = "25px 'Impact'";
    vcon.fillStyle = "white";
    vcon.fillText("YOU ARE DEAD", 60, 110);
    vcon.fillText("Press Enter to continue", 10, 155);

    // 仮想画面から実画面へ拡大転送
    con.drawImage(vcan,0,0,SCREEN_SIZE_W,SCREEN_SIZE_H,
        0,0,SCREEN_SIZE_W*3,SCREEN_SIZE_H*3)

    return;

}
// setInterval(mainLoop, 1000/60);

// Goalした時に情報を表示
function drawGoal(){
    // 画面を水色でクリア
    vcon.fillStyle = "#66AAFF";
    vcon.fillRect(0, 0, SCREEN_SIZE_W, SCREEN_SIZE_H);

    // マップを表示
    field.draw();

    drawObj(block);
    drawObj(item);
    drawObj(enemy);

    // おじさんを表示,少数があると隣のピクセルとかが出てしまってた
    ojisan.draw();
    
    drawInfo();

    // Goal画面を表示
    vcon.font = "25px 'Impact'";
    vcon.fillStyle = "white";
    vcon.fillText("GOAL REACHED!", 60, 110);
    vcon.fillText("Thank you", 80, 155);

    // 仮想画面から実画面へ拡大転送
    con.drawImage(vcan,0,0,SCREEN_SIZE_W,SCREEN_SIZE_H,
        0,0,SCREEN_SIZE_W*3,SCREEN_SIZE_H*3)

    return;

}

function drawFlag(){

    // let field_scx = 224;
    // let field_scy = 0;
    // let oji_x = 361;
    // let oji_y = 32;
    // let px = oji_x - field_scx;
    // let py = oji_y - field_scy;

    vcon.drawImage(chImg, 0,384,16,16, 137,32+didGoal>>2,16,16);
    

}

// loop start
window.onload = function(){
    startTime = performance.now();
    mainLoop();
}

function mainLoop() {
    let nowTime = performance.now();
    let nowFrame = (nowTime - startTime) / GAME_FPS;

    
    if (nowFrame > frameCount ){
        let c = 0;
        while( nowFrame > frameCount ){
            frameCount++;
            // update
            update();
            // maxで4倍速
            if ( ++c >= 4) break;
        }

        // render, drawing
        draw();
    }

    if ( isAlive && ( !didGoal )){
        // ブラウザが表示してくださいって言うタイミングで読んでくれる
        requestAnimationFrame(mainLoop); 
    } else if ( !isAlive ) {
        drawDead();
    } else if ( didGoal>0 ){
        drawGoal();
        // let snum = (this.die>>2)%3 + 96;   // sprite num,,4フレームで１個増える
        // this.h = this.snum==32?16:32;
        // this.sp = snum;
        // console.log(didGoal);
        // // py += i>>2;
        // // vcon.drawImage(chImg, 0,384,16,16, 137,137,16,16);
        // if ( ++didGoal == 32 ) {
        //     // this.die = 0;
        //     didGoal = 50;
        //     vcon.drawImage(chImg, 0,384,16,16, 137,32+didGoal>>2,16,16);
        //     console.log(didGoal);
        // }
        // if ( didGoal == 50 ) drawGoal();
        // requestAnimationFrame(drawFlag); 
        // ビヨビヨってなる時は動けないので、動かずリターン
        // return;
    }

}



 

// ある条件が揃うと、マップを移動する
function checkMapMove(){
    // map0 -> map1
    if ( ( field.type == 0 ) && 
        ( 11800 < ojisan.x ) &&
        ( ojisan.x < 12000 ) &&
        ( 1450 < ojisan.y ) &&
        ( ojisan.y < 1600 ))
        {
            console.log('ok');
            ojisan.x    = 1150;
            ojisan.y    = 200;
            field.type   = 1;
            fieldData = fieldDatas[field.type];

            field.scx   = 0;
            field.scy   = 0;
            
            mainLoop();
        }
    // map1 -> map0
    else if ( ( field.type == 1 ) && 
            ( 13400 < ojisan.x ) &&
            ( ojisan.x < 13500 ) &&
            ( 2000 < ojisan.y ) &&
            ( ojisan.y < 2100 ) )
    {
        field.type   = 0;
        fieldData = fieldDatas[field.type];
        ojisan.x    = 41616;
        ojisan.y    = 2048;
        field.scx   = 2487;
        field.scy   = 0;
    }
    else if ( (field.type == 1 ) && 
            ( 3550 < ojisan.x ) &&
            ( ojisan.x < 3650 ) &&
            ( 450 < ojisan.y ) &&
            ( ojisan.y < 550 ) )
    {
        field.type = 2;
        fieldData = fieldDatas[field.type];
        ojisan.x    = 64;
        ojisan.y    = 144;
        field.scx   = 0;
        field.scy   = 0;
    }
}




// 連想配列？
let keyb = {};

// キーボードが押された時に呼ばれる、イベントドリブンの関数
document.onkeydown = function(e){
    if(e.keyCode == 37)keyb.Left = true;
    if(e.keyCode == 39)keyb.Right = true;    
    if(e.keyCode == 40)keyb.Down = true;  

    if(e.keyCode == 90)keyb.BBUTTON = true;   // Z  
    if(e.keyCode == 88)keyb.ABUTTON = true;   // X

    if(e.keyCode == 65){                      // a
        keyb.Squat = true;
        checkMapMove();
    }
    if(e.keyCode == 69){                        // e
        // didGoal = 1;
        // // block.push( new Block(368, 5,5) );
        let x = ( field.scx + SCREEN_SIZE_W*0.8 )>>4
        let y = ( field.scy + 32 )>>4
        enemy.push(
            new Enemy(137, x, y, 0, 0, ENEMY_KUMO))

        // enemy.push(
        //     new Enemy(105, 12, 2, 0, 0, ENEMY_KURIBO))
    }

    if(e.keyCode == 13) {                             // enter
        init();
        mainLoop();
    } 
    if(e.keyCode == 32){                        // space
        console.log(field.scx);
        console.log(field.scy);
    }            // space


    // FIRE のチェック
    // if(e.keyCode == 83){                            // s
    //     let adjust = 8;
    //     let x = ojisan.x>>adjust;
    //     let y = ojisan.y>>adjust;
    //     console.log(x)
    //     item.push(
    //         new Item(112, x, y, 0, 0, SPARKS)); 
    // }
    if(e.keyCode == 83){                            // s
        if ( ojisan.fire ){
            let adjust = 8;
            let x = ojisan.x>>adjust;
            let y = ojisan.y>>adjust;
            console.log(x)
            item.push(
                new Item(112, x, y, 0, 0, SPARKS)); 
        }
    }
}

// キーボードが離された時に呼ばれる
document.onkeyup = function(e){
    if(e.keyCode == 37)keyb.Left = false;
    if(e.keyCode == 39)keyb.Right = false;    
    if(e.keyCode == 40)keyb.Down = true;  

    if(e.keyCode == 90)keyb.BBUTTON = false;   // Z  
    if(e.keyCode == 88)keyb.ABUTTON = false;   // X
    if(e.keyCode == 65)keyb.Squat = false;
}




</script>
    
    <h3>HOW TO PLAY</h3>
    <span style="margin-left:1em">x: jump </span>
    <span style="margin-left:1em">a: squat </span>
    <span style="margin-left:10em">→: right </span><br>
    <span style="margin-left:1em">z: dash </span>
    <span style="margin-left:1em">s: fire  </span>
    <span style="margin-left:10em">←: left </span><br>

    <h3>FIXME</h3>
    <ul>
        <li>
            Enter doesn't work
        </li>
        <li>
            ...
        </li>
    </ul>

        
    <h3>TODO</h3>
    <ul>
        <li>
            Goal judge
        </li>
        <li>
            Other enemies?
        </li>
    </ul>
</body>
</html>