{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mario</title>
</head>
<body>

    <canvas id="can"></canvas>
    <script src="{% static '/js/mario/const.js' %}"></script>
    <script src="{% static '/js/mario/enemy.js' %}"></script>
    <script src="{% static '/js/mario/item.js' %}"></script>
    <script src="{% static '/js/mario/block.js' %}"></script>
    <script src="{% static '/js/mario/map.js' %}"></script>
    <script src="{% static '/js/mario/ojisan.js' %}"></script>
    <script src="{% static '/js/mario/main.js' %}"></script>

    
    <h3>HOW TO PLAY</h3>
    <span style="margin-left:1em">x: jump </span>
    <span style="margin-left:10em">→: right </span><br>
    <span style="margin-left:1em">z: dash </span>
    
    <span style="margin-left:10em">←: left </span><br>
    
    <h3>FIXME</h3>
    <ul>
        <li>
            Enter doesn't work
        </li>
        <li>
            I can jump in the air
        </li>
    </ul>

        
    <h3>TODO</h3>
    <ul>
            <li>
                HOW TO JUDGE GLOAL
            </li>
        </ul>
</body>
</html>