<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script>
        let repeatTimer;
        // let audio = document.getElementById("music");
        var audio = document.createElement('audio');
        console.log(audio);
        audio.id = 'sound';
        audio.src = 'Kyun_short.mp3';

        var timer1; //タイマーを格納する変数（タイマーID）の宣言
        
        //カウントダウン関数を1000ミリ秒毎に呼び出す関数
        function cntStart()
        {
            document.timer.elements[2].disabled=true;
            timer1=setInterval("countDown()",1000);
            // play();
            document.timer.playbutton.disabled = true;
            document.timer.stopbutton.disabled = false;    
        }
        
        //タイマー停止関数
        function cntStop()
        {
            document.timer.elements[2].disabled=false;
            document.timer.playbutton.disabled = false;
            document.timer.stopbutton.disabled = true;

            clearInterval(timer1);
            audio.pause();
            audio.currentTime = 0;
        }
        
        //カウントダウン関数
        function countDown()
        {
            var min=document.timer.elements[0].value;
            var sec=document.timer.elements[1].value;
            
            if( (min=="") && (sec=="") )
            {
            alert("plz set the time");
            reSet();
            }
            else
            {
            if (min=="") min=0;
            min=parseInt(min);
            
            if (sec=="") sec=0;
            sec=parseInt(sec);
            
            tmWrite(min*60+sec-1);
            }
        }
        
        //残り時間を書き出す関数
        function tmWrite(int)
        {
            int=parseInt(int);
            
            if (int<=-1)
            {        
                audio.play();
            }
            else
            {
            //残り分数はintを60で割って切り捨てる
            document.timer.elements[0].value=Math.floor(int/60);
            //残り秒数はintを60で割った余り
            document.timer.elements[1].value=Math.floor(int % 60);
            }
        }
        
        //フォームを初期状態に戻す（リセット）関数
        function reSet()
        {
            document.timer.elements[0].value="0";
            document.timer.elements[1].value="2";
            // document.timer.elements[2].disabled=false;
            document.timer.playbutton.disabled = false;
            document.timer.stopbutton.disabled = true;
            clearInterval(timer1);
            audio.pause();
            audio.currentTime = 0;   
        }  
            
    </script>
</head>
<body>
    <!-- <audio src="Kyun_short.mp3">audioがサポートされていない場合のメッセージ</audio> -->

    <AUDIO id="music">
    <SOURCE src="Kyun_short.mp3" type="audio/mp3">
    </AUDIO>

    <FORM name="timer">
        <input size=10 class="mt-2 ms-3" type="text" value="30" style="text-align:right"> min
        <input size=10 type="text" value="0" style="text-align:right"> second<br>
        <input class="mt-2 ms-3" id="afa" name="playbutton" type="button" value="start" onClick="cntStart()">
        <input class="mt-2" id="stopbutton" name="stopbutton" type="button" value="stop" onClick="cntStop()" disabled>
        <input class="mt-2" type="button" value="reset" onclick="reSet()">
    </FORM>
</body>
</html>



