{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- jQuery とか popper.js とか。bootstrapだけだとやれること限られている -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        let repeatTimer;
        // let audio = document.getElementById("music");
        var audio = document.createElement('audio');
        console.log(audio);
        audio.id = 'sound';
        // audio.src = "{% static 'timer/Kyun_short.mp3' %}";
        audio.src = 'timer/Kyun_short.mp3';

        var timer1; //タイマーを格納する変数（タイマーID）の宣言
        
        //カウントダウン関数を1000ミリ秒毎に呼び出す関数
        function cntStart()
        {
            document.timer.elements[2].disabled=true;
            timer1=setInterval("countDown()",1000);
            // play();
            document.timer.playbutton.disabled = true;
            document.timer.stopbutton.disabled = false;    
        }
        
        //タイマー停止関数
        function cntStop()
        {
            document.timer.elements[2].disabled=false;
            document.timer.playbutton.disabled = false;
            document.timer.stopbutton.disabled = true;

            clearInterval(timer1);
            audio.pause();
            audio.currentTime = 0;
        }
        
        //カウントダウン関数
        function countDown()
        {
            var min=document.timer.elements[0].value;
            var sec=document.timer.elements[1].value;
            
            if( (min=="") && (sec=="") )
            {
            alert("plz set the time");
            reSet();
            }
            else
            {
            if (min=="") min=0;
            min=parseInt(min);
            
            if (sec=="") sec=0;
            sec=parseInt(sec);
            
            tmWrite(min*60+sec-1);
            }
        }
        
        //残り時間を書き出す関数
        function tmWrite(int)
        {
            int=parseInt(int);
            
            if (int<=-1)
            {        
                audio.play();
            }
            else
            {
            //残り分数はintを60で割って切り捨てる
            document.timer.elements[0].value=Math.floor(int/60);
            //残り秒数はintを60で割った余り
            document.timer.elements[1].value=Math.floor(int % 60);
            }
        }
        
        //フォームを初期状態に戻す（リセット）関数
        function reSet()
        {
            document.timer.elements[0].value="30";
            document.timer.elements[1].value="0";
            // document.timer.elements[2].disabled=false;
            document.timer.playbutton.disabled = false;
            document.timer.stopbutton.disabled = true;
            clearInterval(timer1);
            audio.pause();
            audio.currentTime = 0;   
        }  

        // ドロップダウンを押したときに曲を変更する
        function ChangeMusic() {
            let elementRef = document.getElementById("musiclist");
            let musicName = elementRef.value;
            // console.log(musicName);
            audio.src = 'timer/' + musicName + ".mp3.jpg";
        }

        // ドロップダウンを押したときに写真を変更する
        function ChangePic() {
            let elementRef = document.getElementById("picList");
            let Name = elementRef.value;
            let pictureRef = document.getElementById("picture");
            console.log(pictureRef)
            pictureRef.src = "timer/" + Name + ".jpg";
            console.log(pictureRef.width);
            if (Name === 'hazuki'){
                pictureRef.width = 330;
                pictureRef.height = 250;
            } else {
                pictureRef.width = 330;
                pictureRef.height = 300;
            }
        }
    </script>
</head>
<body>

    <h1 style="font-family:monospace" class="mt-3 ms-4">Timer</h1>

    <AUDIO id="music">
    <SOURCE src="{% static Kyun_short.mp3 %}" type="audio/mp3">
    </AUDIO>

    <select class="mt-2 ms-3" name='picList' id="picList"  onclick="ChangePic()">
        <option value='minami' selected>みなみ</option>
        <option value='hazuki'>葉月</option>
        <option value='yoda'>与田</option>
        <option value='momoko'>桃子</option>
    </select><br>
    <img class="mt-2 ms-3" id="picture" width="330" height="300" src="{% static 'timer/minami.jpg' %}" alt="">

    <FORM class="mt-3 ms-3" name="timer">
        <input size=5 class="mt-2 ms-3" type="text" value="30" style="text-align:right;font-size:150%"> min
        <input size=5 type="text" value="0" style="text-align:right;font-size:150%"> second<br>
        <input class="mt-2 ms-3" id="afa" name="playbutton" type="button" value="start" onClick="cntStart()">
        <input class="mt-2" id="stopbutton" name="stopbutton" type="button" value="stop" onClick="cntStop()" disabled>
        <input class="mt-2" type="button" value="reset" onclick="reSet()">
    </FORM>


    <select class="mt-2 ms-4" name='musicList' id="musiclist"  onclick="ChangeMusic()">
        <option value='Kyun_short' selected>キュン</option>
        <option value='kitune'>キツネ</option>
        <option value='outOfTheBlue'>Out of the blue</option>
        <option value='hontonozikan'>ホントの時間</option>
    </select>
    <br>

</body>
</html>



