<div id="sidebar">
    <div class="box bg-gray">
        <h2>SUB MENU</h2>
        <ul>
            <li><a href="/">サイト紹介</a></li>
            <li><a href="main/FAQ">よく頂く質問</a></li>
            <li><a href="main/link">リンク集</a></li>
            <li><a href="main/study">勉強まとめ</a></li>
            <li><a href="main/game">ゲーム一覧</a></li>
            <li><a href="login">裏サイト</a></li>
        </ul>
    </div>

    <div class="box bg-gray">
        <h2>旧サイト<br>2021/04/17以前</h2>
        <ul>
            <li><a href="old/old">HOME</a></li>
        </ul>
    </div>
</div><!-- /#sidebar -->