{% extends "base.html" %}
{% load humanize %}
{% load static %}


{% block main %}
<h1>About me</h1>
<img src="{% static 'change.jpeg' %}" alt=""><br>
<img width="500" height="310" src="{% static 'change2.png' %}" alt="">
<li>
    <a href="/weight/main">My Body Weight</a>
</li>
<h2>Projects</h2>
<img width="500" height="210" src="{% static 'pc.jpeg' %}" alt="">


<ul>
    <li>
        <a href="https://github.com/kokoichi206/reversi">Reversi game</a>
    </li>
    <li>
        <a href="https://github.com/kokoichi206/su-doku">Solve Su-doku</a>
    </li>
    <li>
        <a href="https://github.com/kokoichi206/quiz-practice">Quiz</a>
    </li>
</ul>
<img width="200" height="300" src="{% static 'movie/reversi.png' %}" alt="" />
<img width="222" height="300" src="{% static 'movie/su_doku.png' %}" alt="" /><br>
<p> By {% now "m/d/Y" %}</p>
<h2>Skills</h2>
<ul>
    {% for skill in skills %}
    <li>{{ skill }}</li>
    {% empty %}
    <li>スキルがありません</li>
    {% endfor %}
</ul>
{% endblock %}
