{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body>

    {% include '_navbar.html' %}

    <div id="key_visual">
        <img src="{% static 'fig/main/change.png' %}" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">
            <section>
                <h2 id="projects">About Me</h2>

                <h3>Projects</h3>
                やってきたコードについては<a href="/main/study">このページ</a>にまとめてあります。

                <h3>興味のあること</h3>
                <ul>
                    <li>機械学習（Kaggle）</li>
                    <li>Atcoder</li>
                    <li>Vue.js</li>
                </ul>

                <h3>SKILLS</h3>
                <ul>
                    <li>
                        Python
                        <ul>
                            <li>Sklearn</li>
                            <li>Kivy</li>
                        </ul>
                    </li>
                    <li>Vue</li>
                    <li>PostgreSQL</li>
                    <li>Shell</li>
                </ul>

                <h3>当サイトに関して</h3>
                <p>GitHubにこのサイトの<a href="https://github.com/kokoichi206/django-website-test">Source</a>は公開しています。気になることや要望はどんどん連絡お願いいたします。</p>
            </section>

            <section>
                <h2 id="fp">Future Plans</h2>
                <p>これから何しよう</p>
            </section>  
            
            <section>
                <h2>What's NEW</h2>
                <div class="news">
                    <dl>
                        <dt>2021/04/18</dt><!--
                     --><dd>html,cssを中心に更新。旧ファイルが必要な場合はお問い合わせ下さい。<span class="new">NEW</span></dd>
                        <dt><time>2021/03/18</time></dt><!--
                     --><dd>シューティングゲーム追加</dd>
                        <dt><time>2021/03/17</time></dt><!--
                     --><dd>マリオ追加</dd>
                        <dt><time>2021/03/10</time></dt><!--
                     --><dd>RPG追加</dd>
                        <dt><time>2021/02/28</time></dt><!--
                     --><dd>簿記３級受験</dd>
                        <dt><time>2021/02/25</time></dt><!--
                     --><dd>体重追加</dd>
                        <dt><time>2021/02/20</time></dt><!--
                     --><dd>Pythonのリポジトリ公開</dd>
                        <dt><time>2021/02/15</time></dt><!--
                     --><dd>JSを用いて作成したクイズ公開。</dd>
                        <dt><time>2021/02/04</time></dt><!--
                     --><dd>ホームページ公開</dd>
                    </dl>
                </div>
            </section>
        </div><!-- /#main -->
        
        {% include '_sidebar.html' %}
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="{% static 'fig/main/logo.png' %}" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/main/main.js' %}"></script>
</body>
</html>