{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
    {% include '_navbar.html' %}

    <div id="key_visual">
        <img src="{% static 'fig/main/change.png' %}" alt="CHANGE">
    </div>


    <div class="container">

        <div id="main">
            <section>
                <h2>HOME</h2>
                
                <h3>Kokoichiのサイト</h3>
                <p>このサイトはPythonのWebフレームワーク<a href="https://docs.djangoproject.com/ja/3.2/">django</a>を用いて作成され、
                <a href="https://jp.heroku.com/free">Heroku</a>を利用して公開されていす。django作成から
                Heroku公開までの流れは<a href="https://www.youtube.com/watch?v=nS41IkL13QE&t=40s">こちらのyoutube</a>から学んだ。</p>
                
                <h4>■ 基本的このサイトは個人の練習用として作られている。</h4>
                <p>特にできること、得られるものはないかも？？</p>
                
                <h4>■ djangoの機能をあまり使えてない。</h4>
                <p>djangoを公開したあたりからJavaScriptに興味が出てきたため、内容としてはJavaScriptを使っただけのものが多い。
                    そのためdjangoの機能を生かせていないと思われる。これからの改善に期待。
                </p>

                <h4>■ 所感</h4>
                <p>django + herokuすごい便利</p>

                <h3>Future plans</h3>
                このサイトを使って次にやりたいことであったり、
                また、このサイト関係なくKokoichiが今やりたいと思っていることなど。

                <h4>■ djangoの機能をもっと調べ、利用する</h4>
                <p>サイト紹介のところでも書いたが、このサイトはdjangoの機能を全く使えていない。
                    気が向けがその辺りを調べてみたい。<br>
                適当にファイル詰め込んだせいで、内部の構造ぐちゃぐちゃなのでいつか整理したい...
                </p>

                <h3>ブログ</h3>
                外部サイトにはなるが、<a href="https://koko206.hatenablog.com/">はてなブログ</a>に日々の記録も残しるので、よかったら是非...
                
                <h4>いつかこっちに移行する？？</h4>

                <h3>当サイトに関して</h3>
                <p>GitHubにこのサイトの<a href="https://github.com/kokoichi206/django-website-test">Source</a>は公開している。気になることや要望はどんどん連絡お願いいたします。</p>
            </section>

            <!-- <section>
                <h2>企業向けCMSプログラム販売中</h2>
                <p>トップページや会社概要ページや業務案内ページなどの各ページレイアウト設定済みのプログラムを販売中です。<a href="">詳しくはこちらをご覧下さい。</a></p>
            </section>     -->
            
            <section>
                <h2>What's NEW</h2>
                <div class="news">
                    <dl>
                        <dt>2021/04/18</dt><!--
                     --><dd>html,cssを中心に更新。旧ファイルが必要な場合はお問い合わせ下さい。<span class="new">NEW</span></dd>
                        <dt><time>2021/03/18</time></dt><!--
                     --><dd>シューティングゲーム追加</dd>
                        <dt><time>2021/03/17</time></dt><!--
                     --><dd>マリオ追加</dd>
                        <dt><time>2021/03/10</time></dt><!--
                     --><dd>RPG追加</dd>
                        <dt><time>2021/02/28</time></dt><!--
                     --><dd>簿記３級受験</dd>
                        <dt><time>2021/02/25</time></dt><!--
                     --><dd>体重追加</dd>
                        <dt><time>2021/02/20</time></dt><!--
                     --><dd>Pythonのリポジトリ公開</dd>
                        <dt><time>2021/02/15</time></dt><!--
                     --><dd>JSを用いて作成したクイズ公開。</dd>
                        <dt><time>2021/02/04</time></dt><!--
                     --><dd>ホームページ公開</dd>
                    </dl>
                </div>
            </section>
        </div><!-- /#main -->
        

        {% include '_sidebar.html' %}
        <!-- <div id="sidebar">
            <div class="box bg-gray">
                <h2>SUB MENU</h2>
                <ul>
                    <li><a href="/">サイト紹介</a></li>
                    <li><a href="main/FAQ">よく頂く質問</a></li>
                    <li><a href="main/link">リンク集</a></li>
                    <li><a href="main/study">勉強まとめ</a></li>
                    <li><a href="main/game">ゲーム一覧</a></li>
                    <li><a href="login">裏サイト</a></li>
                </ul>
            </div>

            <div class="box bg-gray">
                <h2>旧サイト<br>2021/04/17以前</h2>
                <ul>
                    <li><a href="old/old">HOME</a></li>
                </ul>
            </div>
        </div>/#sidebar -->
    </div><!-- /#container -->

    <footer>
        <p class="logo"><a href=""><img src="{% static 'fig/main/logo.png' %}" alt="colorful clover"></a></p>
        <p><small>Copyright © Colorful Clover, inc. All Rights Reserved.</small></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/main/main.js' %}"></script>

</body>
</html>