<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     <h2>
          <a href="https://www.youtube.com/watch?v=nS41IkL13QE">djangoの基礎 youtube</a><br>
          <a href="https://qiita.com/skokado/items/a25d64cafa3db791b283">Ajax通信（Greet）の参考サイト</a><br>
     </h2>
     Ajaxを使ってPythonとJavascriptで変数を送受信する方法
     what is Ajax?
     「Asynchronous JavaScript + XML」
     
     import sys
     sys.executable
     でpython実行ファイルの絶対パスを取得することができる

     <h3>pythonでオンライン実行環境を作ろうとした際、execにおける変数の範囲の問題がよくわからなかった</h3>
     <a href="https://qiita.com/amedama/items/e577324317b8939806ef">こ</a>
</body>
</html>