{% load static %}

<!doctype html>
<html>
    
    <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    
      <meta property="og:title" content="">
      <meta property="og:type" content="">
      <meta property="og:url" content="">
      <meta property="og:image" content="">
    
      <link rel="manifest" href="site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <!-- Place favicon.ico in the root directory -->
    
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <meta name="theme-color" content="#fafafa">
    </head>
    
    <body>
        <div style="background:pink;margin-right: 20px">
            <a href="/">HOME</a>
            <a href="/about">About Me</a>
            <a href="/quiz">Quiz</a>
        </div>
        <div class="container">
    
        <h1>Nogizaka Quiz</h1>
            <div class="pull-left">
                <ol>
                    <li><a href="/quiz/easy">Easy</a></li>
                    <li><a href="/quiz/hard">Hard</a></li>
                    <li><a href="/quiz/profile">Profile</a></li>
                </ol>
            </div>
        </div>
        <p>Copyright 2021</p>
        <script type="text/javascript" src="{% static 'js/app.js' %}">
        </script>
    </body>

</html>

