{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script type="text/javascript">
        const gFileBoss = "{% static 'fig/rpg/boss.png' %}";
        const gFileMap = "{% static 'fig/rpg/map.png' %}";
        const gFilePlayer = "{% static 'fig/rpg/player.png' %}";   // 透過pngなので自分で何か処理をする必要がない
        const gFileMonster = "{% static 'fig/rpg/monster.png' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/rpg/TUGames1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/rpg/main.js' %}"></script>
</head>
<body style="margin:0px; overflow:hidden">
    <canvas id="main"></canvas>




</body>
</html>